<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<!--Made adjustments to the body color -->
<body class="w3-blue-gray">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <!--This Has the links back to the Home page and also allows admins to log in-->

                <div>
                    @Html.ActionLink("WallBoard Specialties", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <p  style="float:right"> @Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" }) </p>
                </div>
            </div>
           
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
