@model Project1403.Models.Employee

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<body>
    <div class="w3-card-4 w3-blue-gray" style="padding: 15px">
           
        <h2 class="w3-center">New Temporary Employee</h2>
        <div class="jumbotron w3-gray">
            <div class="container">
                <!--Create the HTML Form-->
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <p>First Name:<br /> @Html.TextBoxFor(x => x.firstName)</p>

                    <p>Last Name: <br /> @Html.TextBoxFor(x => x.lastName)</p>

                    <p>Phone Number:<br />  @Html.TextBoxFor(x => x.phone)</p>

                    <p>Confirm Job-Type:<br />  @Html.TextBoxFor(x => x.jobType)</p>
                    <p>Confirm Subcontractor:<br />  @Html.TextBoxFor(x => x.subcontractor)</p>

                    <!--Create the Drop Down Lists-->
                    <p>
                        Project Location: <br />  @Html.DropDownListFor(x => x.location, new[] {
new SelectListItem()
{Text = "Project 001 - UVU Campus", Value = "1"},
new SelectListItem()
{Text = "Project 002 - Arbys", Value = "2"},
new SelectListItem()
{Text = "Project 003 - Sushi YA", Value = "3"} }, "Choose an option")
                    </p>

                    <input type="submit" value="Submit" class="btn-lg btn-success" />
                }
            </div>
        </div>
    </div>
</body>
